<div class="container-fluid trc" *ngIf="showdata==true">

    <div class="row     ">
        <div class="col-12 ">
            <div class="d-flex justify-content-between m-0">
                <p>Makhanlal Chaturvedi National university of journalism & comm. Bhopal</p>
                <p>Result declaration date</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>Tabulation resister for - {{ studetail.student[0]?.examname}}</p>

            </div>
            <div class="d-flex justify-content-end">
                <p>Held in - may -june 2022</p>

            </div>


        </div>
    </div>
    <hr>
    <div class="row      ">
        <div class="col-1        text-center">
           <!-- <p>{{ studetail[0]?.name }}</p> -->
           <p>RollNo</p>

        </div>
        <div class="col-2       text-start">
            <p>Candidate name</p>
            <!-- <p>{{ studetail[0]?.name }}</p> -->
        </div>
        <div class="col-2      text-start">
            <p>Subject code & description</p>
        </div>
        <div class="col-3       text-center">
            <p>scheme of marks</p>
        </div>
        <div class="col-2        text-center">
            <p>marks obtained</p>
        </div>
        <div class="col-1        text-center">
            <p>total</p>
        </div>
    </div>
    <div class="row      ">
        <div class="col-1       text-center">


        </div>
        <div class="col-4       text-start">
            <p>father name</p>
        </div>

        <div class="col-3        text-center">
            <div class="row">
                <div class="col-4    ">
                    <p>theory</p>
                </div>
                <div class="col-4    ">
                    <p>prac</p>
                </div>
                <div class="col-4    ">
                    <p>int</p>
                </div>
            </div>
            <!-- <div class="d-flex justify-content-between ">
        
              
               
            </div> -->

        </div>

    </div>
    <div class="row      ">
        <div class="col-1        text-center">


        </div>
        <div class="col-4        text-start">
            <p>Mother name</p>
        </div>

        <div class="col-3       ">

            <div class="row text-center">
                <div class="col-4  ">
                    <p>min-max</p>
                </div>
                <div class="col-4  ">
                    <p>min-max</p>
                </div>
                <div class="col-4  ">
                    <p>min-max</p>
                </div>
            </div>
        </div>
        <div class="col-2       ">

            <div class="row text-center">
                <div class="col-4   ">
                    <p>th</p>
                </div>
                <div class="col-4   ">
                    <p>pr</p>
                </div>
                <div class="col-4   ">
                    <p>int</p>
                </div>
            </div>
        </div>
        <div class="col-1     text-center">
            <p>OBT/OUT</p>

        </div>
        <div class="col-1     ">
            <div class="row">
                <div class="col-3 ">
                    <p>cr</p>
                </div>
                <div class="col-3 ">
                    <p>gp</p>
                </div>
                <div class="col-3 ">
                    <p>cp</p>
                </div>
                <div class="col-3 ">
                    <p>gr</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row   ">
        <div class="col-1">

        </div>
        <div class="col-2">
            <div class="row gx-5">
                <div class="col-2">
                    <p>enrol</p>

                </div>
                <div class="col-2">
                    <p>stat</p>
                </div>
                <div class="col-2">
                    <p>cat</p>
                </div>
                <div class="col-2">
                    <p>med</p>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="row mt-0">
        <div class="col-1 text-center">
            <!-- <p>study center code</p> -->
            <p> {{ studetail.study[0].code }}</p>
        </div>
        <div class="col-11">
            <!-- <p> study center name</p> -->
            <p>{{ studetail.study[0]["COLLEGE / CENTER NAME"]}} {{studetail.study[0]?.city}}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-0">
        <div class="col-1 text-center">
            <p>ECC-{{ studetail.student[0]?.examcent }}   </p>
        </div>
        <div class="col-11">
            <!-- <p> Exam center name here </p> -->
            <p>{{ studetail.student[0]["COLLEGE / CENTER NAME"] }} {{ studetail.student[0].city }}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-0">
        <div class="col-1 text-center">
            <!-- <p>roll number</p> -->
            <p>{{ studetail.student[0]?.rollno }}</p>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-12">
                    <!-- <p> name of student </p> -->
                    <p>{{ studetail.student[0]?.name }}</p>
                </div>
                <div class="col-12">
                    <!-- <p>father name of student </p> -->
                    <p>{{ studetail.student[0]?.fhname }}</p>
                </div>
                <div class="col-12">
                    <!-- <p>mother name of student </p> -->
                    <p>{{ studetail.student[0]?.mname }}</p>
                </div>
                <div class="col-12">
                    <!-- <p>Enrolment no </p> -->
                    <p>{{ studetail.student[0]?.enrollno }}</p>
                </div>
                <div class="col-12">
                    <div class="row ">
                        <div class="col-4 ">
                            <!-- <p>regular</p> -->
                            <p>{{ studetail.student[0]?.status }}</p>
                        </div>
                        <div class="col-4 ">
                            <!-- <p>cat</p> -->
                            <p>{{ studetail.student[0]?.category }}</p>
                        </div>
                        <div class="col-4 ">
                            <!-- <p>med</p> -->
                            <p>{{ studetail.student[0]?.medium }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <p>mark sheet</p>
                        </div>
                        <div class="col-6">
                            <!-- <p>123456</p> -->
                            <p>{{ studetail.student[0]?.msheetno }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <!-- <p>5/400</p> -->
                            <p>{{studetail.student.length}}/{{ studetail.student[0]?.semoutof }}</p>
                        </div>
                        <div class="col-4">
                            <p>EC:</p>
                        </div>
                        <div class="col-4">
                            <!-- <p>149</p> -->
                            <p>{{ studetail.student[0]?.examcent }}</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-9">
            <div class="row  -info" *ngFor="let s of studetail.student">
                <div class="col-1 w-auto">
                    <!-- 0343 -->
                    {{s.subcode}}
                </div>
                <div class="col-2   ">
                    <!-- <p style="font-size: 10px;">fundamentals of programming</p> -->
                    <p class="small-text">{{s.subname}}</p>
                </div>
                <div class="col-9 ">
                    <div class="d-flex flex-row bd-highlight">
                        <div class="flex-fill  text-end w-auto bd-highlight">
                           <p class="small-text">
                             {{ s.tmin==0? '--' :s.tmin  }}  {{ s.tmax==0? '--' :s.tmax  }}
                            </p>
                           </div>
                        <div class="flex-fill  text-end bd-highlight">
                            <p class="small-text"> 
                                {{ s.pmin==0? '--' :s.pmin  }}  {{ s.pmax==0? '--' :s.pmax  }}

                                <!-- {{ s.pmin }}  {{ s.pmax }} -->

                            </p>
                        </div>
                        <div class="flex-fill  text-end w-auto bd-highlight">
                            <p class="small-text">
                                {{ s.smin==0? '--' :s.smin  }}  {{ s.smax==0? '--' :s.smax  }}
                        </p>
                    </div>
                        <div class="flex-fill  text-end w-auto bd-highlight">
                            <p class="small-text">
                               
                            </p>
                        </div>
                        <div class="flex-fill  text-end w-auto bd-highlight">223</div>
                        <div class="flex-fill  text-end w-auto bd-highlight"><p class="small-text">

                        </p></div>
                        <div class="flex-fill  text-end w-auto bd-highlight">123</div>
                        <div class="flex-fill  text-end w-auto bd-highlight">223</div>
                        <div class="flex-fill  text-end w-auto bd-highlight"><p class="small-text">

                        </p></div>
                        <div class="flex-fill  text-end w-auto bd-highlight">123</div>
                        <div class="flex-fill  text-end w-auto bd-highlight">223</div>
                        <div class="flex-fill  text-end w-auto bd-highlight"><p class="small-text">

                        </p></div>
                        <div class="flex-fill  text-end w-auto bd-highlight">123</div>
                        <div class="flex-fill  text-end w-auto bd-highlight">223</div>
                        <div class="flex-fill  text-end w-auto bd-highlight"><p class="small-text">

                        </p></div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row  ">
        <div class="col-12">
            <table class="table tbl">
                <tr>
                    <td>
                        I-sem 250/400
                    </td>
                    <td>
                        II-sem 250/400
                    </td>
                    <td>
                        III-sem 250/400
                    </td>
                    <td>
                        IV-sem 250/400
                    </td>
                    <td>
                        V-sem 250/400
                    </td>
                    <td>
                        VI-sem 250/400
                    </td>
                    <td>
                        grand total 250/400
                    </td>
                    <td>
                        cp/cr :207
                    </td>
                </tr>
                <tr>
                    <td>
                        I-sem 250/400
                    </td>
                    <td>
                        II-sem 250/400
                    </td>
                    <td>
                        III-sem 250/400
                    </td>
                    <td>
                        IV-sem 250/400
                    </td>
                    <td>
                        V-sem 250/400
                    </td>
                    <td>
                        VI-sem 250/400
                    </td>
                    <td>
                        grand total 250/400
                    </td>
                    <td>
                        cp/cr :207
                    </td>
                </tr>
                <tr>
                    <td>
                        I-sem 250/400
                    </td>
                    <td>
                        II-sem 250/400
                    </td>
                    <td>
                        III-sem 250/400
                    </td>
                    <td>
                        IV-sem 250/400
                    </td>
                    <td>
                        V-sem 250/400
                    </td>
                    <td>
                        VI-sem 250/400
                    </td>
                    <td>
                        grand total 250/400
                    </td>
                    <td>
                        cp/cr :207
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <button class="btn btn-primary d-print-none" onclick="window.print()">print</button>
    <!-- <button class="btn btn-primary" (click)="show()">message</button> -->
</div>