<div class="container-fluid trc" *ngIf="showdata==true">
    <button class="btn btn-primary d-print-none" onclick="window.print()">PRINT</button>
<div class="row">
    <div class="col-12 text-center">
        <p>Preview / Printed BY {{username}} {{email}} {{ipaddress}}</p>
    </div>
</div>
    <div class="row">
        <div class="col-12 ">
            <div class="d-flex justify-content-between m-0">
                <p>Makhanlal Chaturvedi National university of journalism & comm. Bhopal</p>
                <p>Result declaration date</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>Tabulation resister for - {{ studetail.student[0]?.examname}}</p>

            </div>
            <div class="d-flex justify-content-end">
                <p>Held in - may -june 2022</p>

            </div>


        </div>
    </div>
    <hr>
    <div class="row      ">
        <div class="col-1        text-center">
            <!-- <p>{{ studetail[0]?.name }}</p> -->
            <p>RollNo</p>

        </div>
        <div class="col-1       text-start">
            <p>Candidate name</p>
            <!-- <p>{{ studetail[0]?.name }}</p> -->
        </div>
        <div class="col-3      ">
            <p>Subject code & description</p>
        </div>
        <div class="col-3       text-center">
            <p>scheme of marks</p>
        </div>
        <div class="col-2       text-center">
            <p>marks obtained</p>
        </div>
        <!-- <div class="col-1        text-center">
           
        </div> -->
        <div class="col-1        text-center">
            <p>total</p>
        </div>
    </div>
    <div class="row      ">
        <div class="col-1       text-center">


        </div>
        <div class="col-4       text-start">
            <p>father name</p>
        </div>

        <div class="col-3       ">
            <div class="row text-center">
                <div class="col-4    ">
                    <p>theory</p>
                </div>
                <div class="col-4    ">
                    <p>prac</p>
                </div>
                <div class="col-4    ">
                    <p>int</p>
                </div>
            </div>
          

        </div>

    </div>
    <div class="row      ">
        <div class="col-1        text-center">


        </div>
        <div class="col-1        text-start">
            <p>Mother name</p>
        </div>
        <div class="col-3        text-start">
          
        </div>

        <div class="col-3       ">

            <div class="row text-center">
               
                        <div class="col">
                            <p> min-max</p>
                        </div>
                        <div class="col">
                            <p> min-max</p>
                        </div>
                        <div class="col">
                            <p> min-max</p>
                        </div>
                  
                  
            </div>
        </div>
        <div class="col-2       ">

            <div class="row text-center">
                <div class="col-4   ">
                    <p>th</p>
                </div>
                <div class="col-4   ">
                    <p>pr</p>
                </div>
                <div class="col-4   ">
                    <p>int</p>
                </div>
            </div>
        </div>
        <div class="col-1     text-center">
            <p>OBT/OUT</p>

        </div>
        <div class="col-1     ">
            <div class="row">
                <div class="col-3 ">
                    <p>cr</p>
                </div>
                <div class="col-3 ">
                    <p>gp</p>
                </div>
                <div class="col-3 ">
                    <p>cp</p>
                </div>
                <div class="col-3 ">
                    <p>gr</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row ">
        <div class="col-1">

        </div>
        <div class="col-4">
            <div class="d-flex bd-highlight flex-row mb-3">
                <div class=" bd-highlight"><p>enrol &nbsp;       </p></div>
                <div class=" bd-highlight"><p>stat  &nbsp;      </p></div>
                <div class=" bd-highlight"><p> med &nbsp;</p></div>
                <div class=" bd-highlight"><p> cat </p></div>
              </div>
            <!-- <p>enrol stat cat med</p> -->
        </div>
        <div class="col">

        </div>
    </div>
    <hr>
    <div class="row mt-0">
        <div class="col-1 text-center">
            <!-- <p>study center code</p> -->
            <p> {{ studetail.study[0].code }}</p>
        </div>
        <div class="col-11">
            <!-- <p> study center name</p> -->
            <p>{{ studetail.study[0]["COLLEGE / CENTER NAME"]}} {{studetail.study[0]?.city}}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-0">
        <div class="col-1 text-center">
            <p>ECC-{{ studetail.student[0]?.examcent }} </p>
        </div>
        <div class="col-11">
            <!-- <p> Exam center name here </p> -->
            <p>{{ studetail.student[0]["COLLEGE / CENTER NAME"] }} {{ studetail.student[0].city }}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-0">
        <div class="col-1 text-center">
            <!-- <p>roll number</p> -->
            <p>{{ studetail.student[0]?.rollno }}</p>
        </div>
        <div class="col-1">
            <div class="row">
                <div class="col-12">
                    <!-- <p> name of student </p> -->
                    <p>{{ studetail.student[0]?.name }}</p>
                </div>
                <div class="col-12">
                    <!-- <p>father name of student </p> -->
                    <p>{{ studetail.student[0]?.fhname }}</p>
                </div>
                <div class="col-12">
                    <!-- <p>mother name of student </p> -->
                    <p>{{ studetail.student[0]?.mname }}</p>
                </div>
                <div class="col-12">
                    <!-- <p>Enrolment no </p> -->
                    <p>{{ studetail.student[0]?.enrollno }}</p>
                </div>
                <div class="col-12">
                    <div class="row ">
                        <div class="col-4 ">
                            <!-- <p>regular</p> -->
                            <p>{{ studetail.student[0]?.status }}</p>
                        </div>
                        <div class="col-4 ">
                            <!-- <p>cat</p> -->
                            <p>{{ studetail.student[0]?.category }}</p>
                        </div>
                        <div class="col-4 ">
                            <!-- <p>med</p> -->
                            <p>{{ studetail.student[0]?.medium }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <p>mark sheet</p>
                        </div>
                        <div class="col-6">
                            <!-- <p>123456</p> -->
                            <p>{{ studetail.student[0]?.msheetno }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <!-- <p>5/400</p> -->
                            <p>{{studetail.student.length}}/{{ studetail.student[0]?.semoutof }}</p>
                        </div>
                        <div class="col-4">
                            <p>EC:</p>
                        </div>
                        <div class="col-4">
                            <!-- <p>149</p> -->
                            <p>{{ studetail.student[0]?.examcent }}</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-10">
            <table class="w-100" >
                <tr *ngFor="let s of studetail.student">
                    <td class="" width="395">
                        <p>
                            {{s.subcode}}-{{s.subname}}
                        </p>
                    </td>
                    <td class=" " width="10%">
                         <p>{{ s.tmin==0 || s.tmin==undefined? '--' :s.tmin }} {{ s.tmax==0 || s.tmax==undefined? '--' :s.tmax }}</p>
                    </td>
                    <td class="" width="10%">
                         <p> {{ s.pmin==0 || s.pmin==undefined? '--' :s.pmin }} {{ s.pmax==0 || s.pmax==undefined? '--' :s.pmax }}</p>
                    </td>
                    <td class="" width="10%">
                         <p> {{ s.smin==0 || s.smin==undefined? '--' :s.smin }} {{ s.smax==0 || s.smax==undefined? '--' :s.smax }}</p>
                    </td>
                    <td class="" width="80" >
                         <p> {{ s.thobt==0 || s.thobt==undefined? '--' : s.thobt }} </p>
                    </td>
                    <td class="text-center" width="80" >
                         <p> {{ s.probt==0 || s.probt==undefined ? '--' :s.probt }} </p>
                    </td>
                    <td class="text-center" width="100" >
                         <p> {{ s.intobt==0 || s.intobt==undefined? '--' :s.intobt }} </p>
                    </td>
                  
                    <td class="" >
                         <p>{{ s.sub_total==0 || s.sub_total==undefined? '--' :s.sub_total }} {{ s.sub_max==0 || s.sub_max==undefined? '--' :s.sub_max }}</p>
                    </td>
                  
                   
                    <td class=" text-end border " width="10%">
                        <div class="d-flex bd-highlight">
                           
                           
                            <div class=" flex-fill bd-highlight"><p>{{s.sub_credit}}</p></div>
                            <div class=" flex-fill bd-highlight"><p>{{s.sub_grade_point}}</p></div>
                            <div class=" flex-fill bd-highlight"><p>{{s.sub_credit_point}}</p></div>
                            <div class=" flex-fill bd-highlight"><p>{{s.sub_grade}}</p></div>
                          </div>
                        <!-- <p>9  9  50.00 A</p> -->
                        <!-- <table class="w-100">
                            <tr>
                                <td><p>9</p></td>
                                <td><p>9</p></td>
                            
                                <td><p>50.00<p></td>
                                <td><p>A</p></td>
                            </tr> -->
                        <!-- </table> -->
                        <!-- <p> <span>9</span> &nbsp;
                      <span>9</span> 
                      <span>50.00</span>
                      <span>A</span></p> -->
                    </td>
                </tr>
              
            </table>
            
        </div>
    </div>

    <!-- <div class="row  ">
        <div class="col-12">
            <table class="">
                <tr>
                    <td>
                        <p>Curr Sem {{studetail.student[0].semobt }} / {{studetail.student[0].semoutof}}</p>
                    </td>
              
                </tr>
                <tr>
                    <td>
                        <p>SGPA {{studetail.student[0].SGPA }} </p>
                    </td>
              
                </tr>
                <tr>
                    <td>
                       <p>{{studetail.student[0].yrtermcode}}</p>
                    </td>
              
                </tr>
             
            </table>
        </div>
    </div> -->
    <hr>
    <div class="row pt-3" >
        <div class="col-2" *ngFor="let c of studetail.consolidateddata;index as i">
            <p>Sem {{i+1}} {{c.semobt }} / {{c.semoutof}}</p>
            <p>SGPA {{c.SGPA }} </p>
            <p>{{c.yrtermcode}}</p>
        </div>
    </div>
    <hr>
    <!-- <button class="btn btn-primary" (click)="show()">message</button> -->
</div>