<!-- <div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-4">
      <img src="assets/images/logo.png" class="card-img-top" alt="..." width="100" height="200">

    </div>
    <div class="col-8">

      <div class="card" style="width: 300px;">

        <div class="card-body">
          <h1 class="card-title fw-bold text-center text-primary">{{title}}</h1>
          <p class="card-text text-center"> Copyright : MCNUJC</p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item fs-4 fw-bold text-primary">Copyright </li>
          <li class="list-group-item fs-4 fw-bold text-primary text-danger">MCNUJC </li>
          <li class="list-group-item fs-4 fw-bold text-primary">Version </li>
          <li class="list-group-item fs-4 fw-bold text-primary text-danger">{{version}} </li>
          <li class="list-group-item fs-4 fw-bold text-primary">Design and Maintenance by </li>
          <li class="list-group-item fw-bold fs-4 text-danger">Garv Institute of information technology</li>
          <li class="list-group-item fs-4 fw-bold text-primary">Contact</li>
          <li class="list-group-item fw-bold fs-3 text-danger">9826452519</li>
          <li class="list-group-item fw-bold fs-3 text-danger">0755-400648</li>
        </ul>
   
      </div>
    </div>
  </div>

</div> -->
<div class="container mt-5">
 <div class="d-flex justify-content-center"> 

  <div class="card dark bg-dark bg-gradient">
    <img src="assets/images/Graphic1.jpg" class="card-img-top h-100" alt="..." >
    <div class="card-body">
        <div class="text-section">
            <h2 class="card-title fw-bold text-white">{{title}}</h2>
            <!-- <p class="card-text">Some quick example text to build on the card's content.</p> -->
            <table class="table w-100 text-white">
        
              <tbody>
                <tr>
                  <td class=" text-warning text-uppercase">Design & Maintenance By</td>
                  <td class="text-uppercase">Garv Institute Of Information Technology (GIIT)</td>
                 
                </tr>
                <tr>
                <td class=" text-warning">COPYRIGHT &#169;	</td>
                <td>MCNUJC {{year}}</td>
                 
                </tr>
                <tr>
                <td class=" text-warning">CONTACT 	</td>
                <td>9826452519 , 07554000648</td>
                 
                </tr>
                <tr>
                <td class=" text-warning">EMAIL 	</td>
                <td>GIITBPL@GMAIL.COM</td>
                 
                </tr>
                <tr>
                <td class=" text-warning">WEBSITE 	</td>
                <td><a href="http://giitbpl.in" target="_blank">GIITBPL.IN</a></td>
                 
                </tr>
             
              </tbody>
            </table>
        </div>
        <div class="cta-section">
            <div><span class="text-warning">VERSION:</span>{{version}}</div>
            <!-- <a href="#" class="btn btn-light">Buy Now</a> -->
        </div>
    </div>
</div>
</div>
</div>
