<mat-drawer-container class="w-100 h-100" [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav bg-dark " mode="push" style="width: 280px;">
    <div class="d-flex justify-content-center">
      <img src="assets/images/logo.png" class="w-50">
    </div>
    <div class="d-flex justify-content-center">
     <h4 class="text-white">{{username}}</h4>
    </div>

    <ul class="nav flex-column mt-5 m-2 text-left">
     
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary text-white " href="#collapseExample" role="button" aria-current="page" data-bs-toggle="collapse"> Search</a>
        <div class="collapse collapse-horizontal" id="collapseExample">
         
            <a class=" nav-link m-2 btn btn-outline-primary text-white " aria-current="page" routerLink="search" routerLinkActive="active"> TRC-Short</a>
            <!-- <a class=" nav-link m-2 btn btn-outline-primary text-white " aria-current="page" routerLink="trcsem" routerLinkActive="active"> TRC-Detail</a> -->
          
        </div>
      </li>
      <li class="nav-item " *ngIf="userRole==1">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="user" routerLinkActive="active"> Users</a>
      </li>
      <li class="nav-item " *ngIf="userRole==1 || userRole==2">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="logs" routerLinkActive="active">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary text-white " href="#imports" role="button" aria-current="page" data-bs-toggle="collapse"> Imports</a>
        <div class="collapse collapse-horizontal" id="imports">
         
               <!-- <a class=" nav-link m-2 btn btn-outline-primary text-white " aria-current="page" routerLink="trcsem" routerLinkActive="active"> TRC-Detail</a> -->
               <a class="nav-link m-2 btn btn-outline-success text-white " aria-current="page" routerLink="subject" routerLinkActive="active" >Subject </a>
               <a class="nav-link m-2 btn btn-outline-success text-white " aria-current="page" routerLink="course" routerLinkActive="active" >Course </a>
               <a class="nav-link m-2 btn btn-outline-success text-white " aria-current="page" routerLink="college-master" routerLinkActive="active" >College </a>
               <a class="nav-link m-2 btn btn-outline-success text-white " routerLink="importdata" routerLinkActive="active">Result </a>
               <a class="nav-link m-2 btn btn-outline-success text-white " routerLink="update" routerLinkActive="active">Update</a>
            
        </div>
      </li>
      <!-- <li class="nav-item " *ngIf="userRole==1 || userRole==2">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="import" routerLinkActive="active">Import </a>
      </li> -->
      <li class="nav-item " *ngIf="userRole==1 || userRole==2">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="backup" routerLinkActive="active"> Backup</a>
      </li>
      <!-- <li class="nav-item " *ngIf="userRole==1 || userRole==2">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="restore" routerLinkActive="active"> Restore</a>
      </li> -->
      <li class="nav-item ">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="chpwd" routerLinkActive="active">Change Password</a>

      </li>
      <!-- <li class="nav-item " *ngIf="userRole==1 ">
        <a class="nav-link btn btn-outline-primary text-white " aria-current="page" routerLink="tools" routerLinkActive="active">Tools</a>

      </li> -->
      <li class="nav-item " >
        <a class="nav-link btn btn-outline-primary text-white " (click)="logout()" aria-current="page" >Logout</a>

      </li>
      <li class="nav-item " >
        <a class="nav-link btn btn-outline-primary text-white " routerLink="about" routerLinkActive="active" aria-current="page" >About</a>

      </li>
      
    </ul>
    
  </mat-drawer>

  <div class="example-sidenav-content d-print-none">

    <mat-toolbar class="bg-dark bg-gradient">
     
      <mat-toolbar-row>

      <button type="button" class=" btn btn-secondry text-white" mat-button (click)="drawer.toggle()">
        <!-- <i class="bi bi-list" style="font-size: 2rem;"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <span class="ps-3 text-white">Data Verification Service</span>
      <span class="example-spacer"></span>
      
        <span class="example-spacer"></span>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
        <button class="btn btn-dark" (click)="reload()" >Reload</button>
        <button class="btn btn-danger" type="button" (click)="logout()">Logout</button>
      </mat-toolbar-row>
    </mat-toolbar>
    
  </div>
  <router-outlet></router-outlet>

</mat-drawer-container>
<!-- <div class="container-fluid">
  
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #a6daff;">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="assets/images/logo.png" alt="" width="50" height="50">
            {{username}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item" *ngIf="userRole==1">
            <a class="nav-link " aria-current="page" routerLink="user" routerLinkActive="active">Users</a>
          </li>
          <li class="nav-item" *ngIf="userRole==1">
            <a class="nav-link " aria-current="page" routerLink="logs" routerLinkActive="active">Logs</a>
          </li>
          <li class="nav-item" *ngIf="userRole==1 || userRole==2">
            <a class="nav-link " aria-current="page" routerLink="import" routerLinkActive="active">Import / Backup</a>
          </li>

       


        </ul>
      
        <span class="navbar-text">
          <ul class="navbar-nav  mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu  mr-4 dropdown-menu-right">
                <li>
                  <a class="dropdown-item" routerLink="chpwd" routerLinkActive="active">Change Password</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </li>
              
              </ul>
            </li>
          </ul>
         
        </span>
      </div>
    </div>
  </nav>
</div> -->
<!-- <h1>footer</h1> -->