<!-- <h1 mat-dialog-title>Hi</h1> -->
<div class="container-fluid">
    <div mat-dialog-content>
    <h2>New Users</h2>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="myform">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="name" id="name"
                                    placeholder="Name">
                                <label for="name">Name</label>
                                <div *ngIf="myform.controls['name'].invalid && (myform.controls['name'].dirty || myform.controls['name'].touched)"
                                    class="text-danger">

                                    <div *ngIf="myform.controls['name'].errors?.['required']">
                                        Name is required.
                                    </div>
                                 

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating ">
                                <input type="email" formControlName="email" [disabled]="isEdit" class="form-control" id="email"
                                    placeholder="name@example.com">
                                <div *ngIf="myform.controls['email'].invalid && (myform.controls['email'].dirty || myform.controls['email'].touched)"
                                    class="text-danger">

                                    <div *ngIf="myform.controls['email'].errors?.['required']">
                                        Email is required.
                                    </div>
                                    <div *ngIf="myform.controls['email'].errors?.['email']">
                                        not a valid email address
                                    </div>

                                </div>
                                <label for="email">Email address</label>

                            </div>
                        </div>
                    </div>

                    <div class="row pt-3" >
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" [disabled]="isEdit==true" formControlName="pwd" id="pwd"
                                    placeholder="password">
                                <label for="name">Password</label>
                                <!-- {{myform.controls["pwd"].value.length}} -->
                                <div *ngIf="myform.controls['pwd'].invalid && (myform.controls['pwd'].dirty || myform.controls['pwd'].touched)"
                                class="text-danger">

                                <div  *ngIf="myform.controls['pwd'].errors?.['required']">
                                    Password is required.
                                </div>
                                
                                <div  *ngIf="myform.controls['pwd'].errors?.['minlength']">
                                    Password is not less then 8 character.
                                </div>
                                <div  *ngIf="myform.controls['pwd'].errors?.['maxlength']">
                                    Password is not grater then 20 character.
                                </div>
                                <!-- <div *ngIf="myform.controls['pwd'].errors?.['pattern']">
                                   Password must have one uppercase character ,one lowercase character,one number and one symbol
                                </div> -->
                             

                            </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="password" class="form-control"  formControlName="repwd" id="repwd"
                                    placeholder="retype password">
                                <label for="name">Confirm Password</label>
                                <div *ngIf="myform.controls['repwd'].invalid && (myform.controls['repwd'].dirty || myform.controls['repwd'].touched)"
                                class="text-danger">

                                <div *ngIf="myform.controls['repwd'].errors?.['required']">
                                    Confirm password is required.
                                </div>
                                <div *ngIf="myform.controls['repwd'].errors?.['confirmedValidator']">
                                   Password and Confirm password is not match.
                                </div>
                             

                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3" >
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="ipaddress" id="ipaddress"
                                    placeholder="client ip address">
                                   
                                <label for="name">IPAddress (V4)</label>
                                <div *ngIf="myform.controls['ipaddress'].invalid && (myform.controls['ipaddress'].dirty || myform.controls['ipaddress'].touched)"
                                class="text-danger">

                                <div *ngIf="myform.controls['ipaddress'].errors?.['required']">
                                    IP Address is required.
                                </div>
                                <div *ngIf="myform.controls['ipaddress'].errors?.['pattern']">
                                    IP Address is invalid.
                                </div>

                            </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="macaddress" id="macaddress"
                                    placeholder="client pc mac address">
                                <label for="macaddress">MAC Address</label>
                                <div *ngIf="myform.controls['macaddress'].invalid && (myform.controls['macaddress'].dirty || myform.controls['macaddress'].touched)"
                                class="text-danger">

                                <div *ngIf="myform.controls['macaddress'].errors?.['required']">
                                    MAC address is required.
                                </div>
                             

                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="row pt-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="role" aria-label="Floating label select example"
                                    formControlName="role">
                                    <!-- <option selected>Select Role</option> -->
                                    <option value="1">Super User</option>
                                    <option value="2">Administrator</option>
                                    <option value="3">Normal User</option>
                                </select>
                                <label for="role">Select Role</label>
                                <div *ngIf="myform.controls['role'].invalid && (myform.controls['role'].dirty || myform.controls['role'].touched)"
                                class="text-danger">

                                <div *ngIf="myform.controls['role'].errors?.['required']">
                                    Role is required.
                                </div>
                             

                            </div>
                            </div>
                        </div>
                        <div class="col-6" >
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="comcode" id="comcode"
                                    placeholder="Computer Code">
                                <label for="name">Computer Code</label>
                                <div *ngIf="myform.controls['comcode'].invalid && (myform.controls['comcode'].dirty || myform.controls['comcode'].touched)"
                                class="text-danger">
                                        <!-- <div *ngIf="myform.controls['comcode'].errors"></div> -->
                                <div *ngIf="myform.controls['comcode'].errors?.['required']">
                                    Computer Code is required.
                                </div>
                             

                            </div>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>

</div>
<div mat-dialog-actions>
    <button class="btn btn-success"  (click)="save()">Save</button>
    <button [mat-dialog-close]="" class="btn btn-danger" cdkFocusInitial>Close</button>
    <!-- {{myform.valid}} -->
</div>
</div>