<h1 class="text-center text-danger fw-bolder">Course Master</h1>

<div class="row container-fluid text-center d-flex justify-content-center">
    <div class="col-6 shadow-sm rounded-3">
      <div class="card h-100" >
        <h2 class="card-header  display-5 fw-bold text-body-emphasis"><span class="text-success"></span> Create new course database <span class="text-danger">(Recommended)</span></h2>
  
        <!-- <h5 class="card-header">Featured</h5> -->
        <div class="card-body ">
          <div class="d-flex justify-content-center">
            <div class="form-floating">
                <select class="form-select" id="coursecode" #coursecode aria-label="Floating label select example" (change)="onChange($event.target)"
                  >
                  <option selected="{{isLast==true}}" value="{{t.code}}"
                    *ngFor="let t of courselist;let ind = index;last as isLast">{{t.code}}-{{t.shortname}} {{t.fullname}}</option>
                    <option value="media">Others- Media Course</option>

                </select>
                <!-- <input list="browsers" name="browser" class="form-select">
                <datalist id="browsers" >
                  <option value="{{e}}" *ngFor="let e of lists">
    
                </datalist> -->
                <label for="tablename">Select Course </label>
                <!-- <div *ngIf="myform.controls.coursecode.invalid" class="text-danger">
                  Course name is required.
              </div> -->
              </div>
          
          </div>
  
         
        
        </div>
        <div class="card-footer text-body-secondary">
          <button type="button" class="btn btn-primary" (click)="create(coursecode.value)" >Create</button>
  
        </div>
      </div>
   
  </div>
  </div>