/* md-progress-linear .md-container {
    height: 50px;
}

md-progress-linear .md-container .md-bar {
    height: 100px;
}
::ng-deep .custom-dialog > mat-dialog-container {
    background-color: var(--background);
  } */
  .spinner-circle[_ngcontent-ggm-c59]
  {
    font-size: 10px;
  }
  .example-section
  {
    background-image: url("~src/assets/images/logo-watermark.png");
  }