/* md-progress-linear .md-container {
    height: 50px;
}

md-progress-linear .md-container .md-bar {
    height: 100px;
}
::ng-deep .custom-dialog > mat-dialog-container {
    background-color: var(--background);
  } */