<div class="container mt-5">
    <div class="d-flex justify-content-center"> 
   
     <div class="card dark bg-dark bg-gradient">
       <img src="assets/images/Graphic1.jpg" class="card-img-top h-100" alt="..." >
       <div class="card-body">
           <div class="text-section">
               <h2 class="card-title fw-bold text-white">User statistics </h2>
               <!-- <p class="card-text">Some quick example text to build on the card's content.</p> -->
               <table class="table w-100 text-white">
           
                 <tbody>
                   <tr>
                     <td class=" text-warning text-uppercase">Design & Maintenance By</td>
                     <td class="text-uppercase">Garv Institute Of Information Technology (GIIT)</td>
                    
                   </tr>
                   <tr>
                   <td class=" text-warning">COPYRIGHT &#169;	</td>
                   <td>MCNUJC </td>
                    
                   </tr>
                   <tr>
                   <td class=" text-warning">CONTACT 	</td>
                   <td>9826452519 , 07554000648</td>
                    
                   </tr>
                   <tr>
                   <td class=" text-warning">EMAIL 	</td>
                   <td>GIITBPL@GMAIL.COM</td>
                    
                   </tr>
                   <tr>
                   <td class=" text-warning">WEBSITE 	</td>
                   <td><a href="http://giitbpl.in" target="_blank">GIITBPL.IN</a></td>
                    
                   </tr>
                
                 </tbody>
               </table>
           </div>
           <div class="cta-section">
               <div><span class="text-warning">VERSION:</span></div>
               <!-- <a href="#" class="btn btn-light">Buy Now</a> -->
           </div>
       </div>
   </div>
   </div>
   </div>