<div class="container mt-5 " >
    <div class="d-flex justify-content-center w-100"> 
   
     <div class="card dark bg-dark bg-gradient">
       <img src="assets/images/user.png" class="card-img-top h-100 w-100" alt="..." >
       <div class="card-body">
           <div class="text-section">
               <h2 class="card-title fw-bold text-white">User statistics </h2>
               <!-- <p class="card-text">Some quick example text to build on the card's content.</p> -->
               <table class="table w-100 text-white">
           
                 <tbody>
                   <tr>
                     <td class=" text-warning text-uppercase">No of time login</td>
                     <td class="text-uppercase">{{login}}</td>
                    
                   </tr>
                   <tr>
                   <td class=" text-warning text-uppercase">No of time search	</td>
                   <td>{{search}} </td>
                    
                   </tr>
             
                
                 </tbody>
               </table>
           </div>
           <!-- <div class="cta-section">
               <div><span class="text-warning">VERSION:</span></div>
           </div> -->
       </div>
   </div>
   </div>
   </div>