<!-- <app-log-table [loglist]="logdata" *ngIf="loaddata"></app-log-table> -->
<div class="container-fluid">

  <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-sm">

    <tfoot>
      <tr>
        <th><input type="text" placeholder="Search UID" name="search-uid"/></th>
        <th><input type="text" placeholder="Search IP Address" name="search-first-name"/></th>
        <th><input type="text" placeholder="Search URL" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search Method" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search Status" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search Date" name="search-last-name"/></th>
        <!-- <th><input type="text" placeholder="Search last name" name="search-last-name"/></th> -->
      </tr>
    </tfoot>  
  </table>

</div>
