<!-- <h1 mat-dialog-title>Dialog with elements</h1> -->
<!-- <div mat-dialog-content [class]="cssclass">
    {{message}}
    
</div> -->

<!-- <div mat-dialog-actions>
</div> -->

<div [class]="cssclass">
    <div class="d-flex bd-highlight align-items-center ">

        <div class=" flex-grow-1 p-3 bd-highlight">{{message}}</div>
        <div class="p-2 bd-highlight">

            <button type="button" mat-button mat-dialog-close class="btn btn-danger text-white">Close</button>
        </div>
    </div>
</div>