<div class="container mt-5">
    <!-- this button is use for add a new user on database server -->
    <button type="button" class="btn btn-danger" (click)="add()">Add User</button>
    <table datatable [dtOptions]="dtOptions" class="row-border hover table" *ngIf="loaddata==true">
        <thead>
            <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Email</th>
                <th>IPAddress</th>
                <th>Status</th>
                <th>Role</th>
                <th>Computer Code</th>
                <!-- <th></th> -->

            </tr>
        </thead>
        <tbody *ngFor="let user of userlist">
            <tr>
                <td>{{user.uid}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.ipaddress}}</td>
                <!-- <td>{{(user.status==1)?"Enable":"Disable"}}</td> -->
                <td>
                    <mat-slide-toggle
                    class="example-margin"
                    [color]="'accent'"
                    (click)="changeStatus(user.uid)"
                    [checked]='(user.status==1)?true:false'>
                    {{(user.status==1)?"Enable":"Disable"}}
                </mat-slide-toggle>
                </td>
                <!-- <td *ngIf="user.role==1">Super user </td>
                <td *ngIf="user.role==2">Administrator </td>
                <td *ngIf="user.role==3">Normal User</td> -->
                <td>{{(user.role===1)?"Super user":(user.role===2)?"Administrator":"Normal user"}}</td>
                <td>{{user.comcode}}</td>
                <!-- <td>    
                    <button type="button" class="btn btn-info" (click)="edit(user.uid)">Edit</button>
                </td> -->
            </tr>
        </tbody>
    </table>

</div>
