<!-- <h1 class="visually-hidden">Heroes examples</h1> -->
<div class="row container">
  <div class="col-4">
    <div class="card">
      <h1 class="card-header display-5 fw-bold text-body-emphasis"><span class="text-success">(Step - 1)</span> Upload
        new Data</h1>

      <!-- <h5 class="card-header">Featured</h5> -->
      <div class="card-body">
        <p class="lead mb-4">You can also copy your excel files into <span
            class="text-danger fw-bold">{{dirname}}</span>
          directory .it will also show on the file list given below</p>
        <h4 class="text-dark fw-bold">OR</h4>
        <p class="lead mb-4">You can also upload the file</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <input type="file" class="form-control" (change)="onChange($event)"
            accept="*.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="process()">upload</button>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
        </div>
      </div>
    </div>
    <div class=" text-center mt-2 border border-dark ">
      <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="display-5 fw-bold text-body-emphasis"><span class="text-success">(Step - 1)</span> Upload new Data
      </h1>
   
  </div>
</div>
  <div class="col-4">
    <div class="card">
      <h1 class="card-header display-5 fw-bold text-body-emphasis"><span class="text-success">(Step - 2)</span> Please select a file
      </h1>
  
      <!-- <h5 class="card-header">Featured</h5> -->
      <div class="card-body">
        <ul class="list-group" *ngFor="let f of filelist">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="{{f}}" id="firstRadio">
            <label class="form-check-label" for="firstRadio">{{f}}</label>
          </li>
    
        </ul>
        <button class="btn btn-primary mt-3">Process</button>
      </div>
    </div>


   
  </div>
  <div class="col-4">
    <div class="card">
      <h1 class="card-header display-5 fw-bold text-body-emphasis"><span class="text-success">(Step - 3)</span> Please select a Sheet
      </h1>
  
      <!-- <h5 class="card-header">Featured</h5> -->
      <div class="card-body">
        <ul class="list-group" *ngFor="let f of filelist">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="{{f}}" id="firstRadio">
            <label class="form-check-label" for="firstRadio">{{f}}</label>
          </li>
    
        </ul>
        <button class="btn btn-primary mt-3">Process</button>
      </div>
    </div>

  </div>
</div>